<div class="auth-container">
    <h2>Esqueci a senha</h2>
    <form action="/esqueceu-senha" method="POST">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="text" name="email" placeholder="Digite seu E-mail." required/>
        </div>
        <input type="submit" value="Registrar"> 
    </form>
</div>