<div class="dashboard">
    <div class="title-container">
        <h2>Opções administrativas</h2>
    </div>
    <div class="tabela-produtos">
        <table >
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="label">Area do Usuário</span></td>
                    <td>
                        <span class="actions">
                            <a href="/usuarios" class="btn">Entrar</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="label">Tipos de Usuario</span></td>
                    <td>
                        <span class="actions">
                            <a href="/tipos-usuario" class="btn">Entrar</a>
                        </span>
                    </td>
                </tr>
                {{#if session.levelMaster}}
                <tr>
                    <td><span class="label">Area de Funcionalidades</span></td>
                    <td>
                        <span class="actions">
                            <a href="/funcionalidades" class="btn">Entrar</a>
                        </span>
                    </td>
                </tr>
                {{/if}}
            </tbody>
        </table>

    </div>
</div>