<div class="auth-container">
    <h2>Registrar</h2>
    <form action="/cadastrar-tipo" method="POST">
        <div class="form-control">
            <label for="nome">Tipo:</label>
            <input type="text" name="nome" placeholder="Digite o tipo." required/>
        </div>
        <div class="form-control">
            <label for="nivel">Nivel:</label>
            <select name="nivel" required>
                    <option value='1'>1</option>  
                    <option value='2'>2</option>                  
            </select>
        </div>
        <div class="btn-control">
            <a href="/tipos-usuario">Voltar</a>
            <input type="submit" value="Registrar"> 
        </div>
    </form>
</div>