<div class="tought-form-container">
    <a href="/estoque">Voltar</a>
    <h1>Adicionar um produto</h1>
    <form action="/cadastrar-produto" method="post">
    <div class="form-control">
        <label for="nome">Produto:</label>
        <input type="text" name="nome" placeholder="Nome do produto." required/>
        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" placeholder="Descrição do produto."/>
        <label for="quantidade">Quantidade:</label>
        <input type="number" name="quantidade" required/>
    </div>
    <input type="submit" value="Criar">
    </form>
</div>